<div class="details">
<h2>Rosemary Siantayo</h2>
<p>Username: Tajeu2001</p>
<p>Location: Nairobi,Kenya</p>
<p>Twitter: @SiantayoT</p>
<p>Public_repos: 14</p> <!--
<img src="../../assets/images/DSC_0232~2.JPG" width="200px">
</div>
<div class="repos">
  <h2>Public Repositories</h2>
  <h4>$ Quotes</h4>

  <h4>$ Birthday-calculator</h4>
 
  <h4>$ Pizza-Place</h4>

  <h4>$ Hello-world</h4>
 
  <h4>$ Delani-Studio</h4>
 
  <h4>$ Portfolio-landing-page</h4>
 
  <h4>$ Cookie-recipe</h4>

  <h4>$ Dairy-Business</h4>

  <h4>$ Anitas_Kitchen</h4>

  <h4>$ Music-band</h4>
</div>




