
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;900&family=Stint+Ultra+Condensed&display=swap');

img {
  border-radius: 50%;
  margin-left:40px;
}

p {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 30px; 
}

h4{
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 35px;
  text-decoration: underline;
}

.details {
  background-color: #264653 ;
  color:#e9c46a;
  padding: 30px;
  width: 30%;
  float: left;
  margin-top: 80px;
  margin-left: 150px;
  border-radius: 20%;
}

.repos {
  background-color: #f4a261;
  margin-top: 50px;
  color: #264653;
  width: 40%;
  float: right;
  margin-right: 150px;
  padding: 30px;
  border-radius: 20%;
}

.details>h2 {
  text-decoration: underline;
  color: rgb(238, 69, 97);
  margin-left: 30px;
}

.repos >h4,p {
  margin-left: 70px;
}


.repos >h2 {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  color:rgb(209, 46, 73);
  text-decoration: underline;
}

